.contenedor-logo{
    width: 400px;
    height: 125px;
    display: flex;
    margin: 8px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}
.logo{
    height: 150px;
    margin: 25px;
}